@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400&display=swap');
@import url('../style.css');

body{
    font-family: 'Jost', sans-serif!important;
}
.nav-item:not(:last-child){
    margin-right: 42px;
}
.nav-link{
    color:  #333136;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    letter-spacing: 2px;
    
    
}
.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: rgb(202, 201, 201);
}
.learn-more{
    position: relative;
     overflow: hidden;
     border-radius: 15px;
     color: #fff;
     background-image: url('../img/Group\ 64\ Copy (3).png') ;
     background-repeat: no-repeat;
     background-size: cover;
    margin-bottom: 160px;
     
 }
  .learn-more-btn{
    text-transform: uppercase;
    letter-spacing: 1px;
   
 }
 
 .btn:hover{
     background-color: rgba(255, 173, 155, 1)!important;
     
 }
 .people-image{
     width: 476px;
     height: 480px;
 }
 .left{
     padding: 0px 0px 0px 95px;
 }
 .about-us{
     border-radius: 15px;
     height: max-content;
 }
 .learn-more-title{
     font-size: 48px;
 }
 .second-image{
     display: none;
 }
 .talent{
     border-radius: 15px;
     background-image: url('../img/Group\ 6.png');
     background-repeat: no-repeat;
      background-size: cover;
     overflow: hidden;
     margin-bottom: 120px;
 }
 .right{
     padding: 0px 60px 0px 96px!important;
     
 }
 .talent-title{
     color:rgba(231, 129, 107, 1);
     font-size: 40px;
     font-weight: 500;
    
 }
 .cards{
     margin-bottom: 160px;
 }
 .get-in-touch{
    margin: 0 auto;
    background:url('../img/Group\ 28.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 72px 95px;
    border-radius: 15px;
    margin-top: 0px;
    transform: translateY(79px);
}
.get-in-touch-title{
    font-size: 40px;
}
footer{
    background-color: rgba(29, 28, 30, 1);
    padding: 151px 0px 72px 0px;
}
footer nav{
    margin-bottom: 46px;
}
.icon{
    color:rgba(231, 129, 107, 1);
    font-size: 24px;
}
.icon:hover{
    color: rgba(255, 173, 155, 1);
    
}
.address-list{
    list-style: none;
    opacity: .5;
    font-weight: 700;
}
.real-deal{
        border-radius: 0px;
        background-image: url('../img/Group\ 6\ \(1\).png');
        background-repeat: no-repeat;
         background-size: cover;
        overflow: hidden;
        margin-bottom: 88px;
        background-position: bottom left;
        margin-left: -12px;
        margin-right: -12px;
       
    
}